<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>msd</title>
</head>
<body>
    <center>
        <h1>
            Best captain in cricket
            In other formats, Dhoni is the first cricketer
            <dd>to be a winning captain of all three major ICC trophies,</dd>
            <dl> as under his captaincy, India won the 2007 ICC World Twenty20, the 2011 World Cup, and the 2013 ICC Champions Trophy, the most by any captain. He also led India to victory in the 2010 and 2016 Asia Cup.</dl> 
        </h1>
    </center>
</body>
</html>