<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rohit</title>
</head>
<body>
    <center>
        <h1>
            Rohit Sharma, the dynamic player and captain of the Indian cricket team, has carved a place for himself in the history of cricket. Rohit Sharma, popularly known as the 'Hitman' of Indian cricket, has carved a niche for himself with his impeccable batting skills and leadership qualities
           <h2>Best Captain in Current Time</h2>
        </h1>
    </center>
</body>
</html>