<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    
    <center>
        <h1>
            
           <h3>Best bats man in current time</h3> 
           <h1>Barring one in Bangladesh, Kohli scored Test hundreds in and against every country he played. He absolutely smashed records for number of matches taken to reach eight, nine, ten and eleven thousand ODI runs. He was a genuine threat to Sachin Tendulkar's record of 49 ODI and 51 Test hundreds.</h1>
            

        </h1>

        
    </center>

</body>
</html>